body {
    display: flex;
    flex-flow: column;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 设置body的高度为视口高度 */
    margin: 0; /* 移除body的默认边距 */
    Vertical-align: middle;
}

div1 {
    width: 100px;
    border-top-style: solid;
    border-top-color: #687291;
    border-top-width: 1px;
    padding: 1px;
    background-color: #DFE1E7;
    margin: 10px;
    text-align: center;
    height: 100px;
}

div2 {
    width: 100px;
    border-top-style: solid;
    border-top-color: #687291;
    border-top-width: 1px;
    padding: 1px;
    background-color: #eeeff2;
    margin: 10px;
    text-align: center;
    height: 100px;
    
}

div3 {
    width: 100px;
    border-top-style: solid;
    border-top-color: #687291;
    border-top-width: 1px;
    padding: 1px;
    background-color: #DFE1E7;
    margin: 10px;
    text-align: center;
    height: 100px;
}

div4 {
    width: 100px;
    border-top-style: solid;
    border-top-color: #687291;
    border-top-width: 1px;
    padding: 1px;
    background-color: #eeeff2;
    margin: 10px;
    text-align: center;
    height: 100px;
    
}

div5 {
    width: 100px;
    border-top-style: solid;
    border-top-color: #687291;
    border-top-width: 1px;
    padding: 1px;
    background-color: #DFE1E7;
    margin: 10px;
    text-align: center;
    height: 100px;
}

div6 {
    width: 100px;
    border: 4px solid #000000;
    padding: 1px;
    background-color: #687291;
    margin: 10px;
    text-align: center;
    height: 100px;
}