/* utilizing CSS gradients and transitions */

#grad1 {
    background-image: linear-gradient(#e66465, #9198e5);
}

div
{
    width:100px;
    transition: width 2s;
    -webkit-transition: width 2s; /* Safari */
}
div:hover {width:300px;}